<!DOCTYPE html>
<html>
<head>
  <title>DBCChat</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/react/0.13.3/react.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/react/0.13.3/JSXTransformer.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/marked/0.3.2/marked.min.js"></script>

</head>
<body>
  <navbar>
    <%= link_to 'Home', root_path %>
    <% if signed_in? %>
      <%= link_to 'Log Out', logout_path %>
      <h1>Welcome back <%= current_user.first_name %></h1>
    <% else %>
      <%= link_to 'Sign In', login_path %>
      <%= link_to 'Sign Up', new_user_path %>
    <% end %>
  </navbar>
  <%= yield %>
<script src="assets/addreact.js.jsx"></script>
</body>
</html>
